@import "./settings";
@import "./mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html,
h1,
h2,
h3,
h4,
ul,
li,
table,
td,
tr,
p,
form,
fieldset,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $ff-base;
}

html,
body {
  height: 100%;
  min-height: 100%;
  background-color: $c-concrete;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  background-color: $c-contrast;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1500px;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

// --------Spacer-------
.spacer {
  &-base {
    margin-top: $gt-base;
  }

  &-small {
    margin-top: $gt-sm;
  }

  &-medium {
    margin-top: $gt-med;
  }

  &-large {
    margin-top: $gt-l;
  }

  &-xlarge {
    margin-top: $gt-xl;
  }
}

// -------Container-------
.app-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.container {
  @include wrapper;

  @include media(xs) {
    margin: 0 auto;
  }
}

// Strong
.strong {
  font-weight: bold;
}

// Display
.block {
  display: block;
}

// Links
.link_normal {
  width: 199px;
  height: 25px;

  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #095fb7;
}
